body {
    background-color: #41b3a3;
}

.content {
    width: 400px;
    margin: 0 auto;
}

.content img {
    /* width: 300px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

button {
    background-color: #c38d9e;
    margin: 30px;
    color: white;
    border-radius: 0.3%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.buttons {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.points {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

h1 {
    color: black;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}