body {
    background-color: brown;
}

.content {
    width: 400px;
    margin: 0 auto;
}

.content img {
    width: 400px;
}

button {
    margin: 30px;
    color: black;
    border-radius: 0.3%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.buttons {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.points {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}